/*RESET*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*COMPONENTS*/
/*COLORS*/
/*MIXINS*/
/*COLORS*/
/*OTHERS*/
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

/*BREAKPOINTS*/
@media (min-width: 576px) {
  .section-padding {
    padding: 7em 2em;
  }
}

@media (min-width: 992px) {
  .section-padding {
    padding: 9em 2em;
  }
}

/*COLORS*/
/*MIXINS*/
/*COLORS*/
/*HAMBURGER-ICON*/
/*COLORS*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  -webkit-transition: background-color 0.125s 0.175s ease-in;
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic.is-active .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
          transform: translate3d(80px, 80px, 0) rotate(45deg);
  -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*COMMON CLASSES*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 62.5px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.underline {
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: #ff4141;
}

/*NAVIGATION-MOBILE*/
.nav {
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 11;
  width: 100%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 1em;
  padding: 0.5em;
  font-size: 1.5rem;
}

.black {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.nav-mobile-items {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transform: translateY(-102%);
          transform: translateY(-102%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: 10;
}

.nav-mobile-items a {
  color: #000;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*NAVIGATION-DESKTOP*/
.nav-desktop {
  display: none;
  padding: 0 10em;
}

/*HEADER*/
.header {
  height: 90vh;
  background-color: #43494c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  position: relative;
  overflow: hidden;
}

.header__img {
  position: relative;
  background-image: url("../img/header/header_mini.jpeg");
  background-size: cover;
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__text {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 1em;
}

.header__text .company-name {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ff4141;
  font-weight: 700;
}

.header__text p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 1.5rem;
  color: #828282;
  font-style: italic;
}

.header__text .header-button {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}

.header__text .header-button::after {
  content: '';
  position: absolute;
  background-color: #ff4141;
  height: 1em;
  width: 100px;
  left: -2px;
  top: 50%;
  z-index: -1;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header__text .header-button:hover::after, .header__text .header-button:focus:after {
  -webkit-transform: scale(1.3, 1.9);
          transform: scale(1.3, 1.9);
}

.header__media {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.header__media .header-icon {
  color: #828282;
}

/*MAIN*/
/*APARTAMENTS*/
.apartaments {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(rgba(255, 255, 255, 0.68)), to(#fff)), url("../img/apartaments/apartaments_big.jpeg");
  background-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.68), #fff), url("../img/apartaments/apartaments_big.jpeg");
  background-size: cover;
  background-position: center;
}

.apartaments__box {
  display: -ms-grid;
  display: grid;
  gap: 5em;
}

.apartaments__box--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apartaments__box--right .apartament-image {
  width: 100%;
  border-radius: 8px;
}

.apartaments__heading {
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 1em 0;
  font-size: 2rem;
}

/*APARTAMENTS-DETAILS*/
.apartaments-details {
  position: relative;
  background-image: url("../img/apartaments/apartaments_description_small.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.apartaments-details__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.apartaments-details__heading {
  padding-top: 1.5em;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.apartaments-details__box {
  display: -ms-grid;
  display: grid;
  gap: 3em;
}

.apartaments-details__box--left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: #fff;
}

.apartaments-details__box--left i {
  padding: 2em 0.1em;
  text-align: center;
}

.apartaments-details__box--left i::before {
  background-color: #ff4141;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.5rem;
}

.apartaments-details__box--left i p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
}

.apartaments-details__box--right img {
  width: 100%;
  border-radius: 8px;
}

/*GALLERY*/
.gallery__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

.gallery__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  padding-top: 2em;
}

.gallery__box a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .3s, -webkit-filter .8s;
  transition: -webkit-transform .3s, -webkit-filter .8s;
  transition: transform .3s, filter .8s;
  transition: transform .3s, filter .8s, -webkit-transform .3s, -webkit-filter .8s;
}

.gallery__box a img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/*CONTACT*/
.contact {
  height: 50vh;
}

/*BREAKPOINTS*/
/*COLORS*/
/*MIXINS*/
/*COLORS*/
@media (min-width: 375px) {
  /*HEADER*/
  .header__text {
    background-image: url("../img/header/home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__text .company-name {
    font-size: 4rem;
  }
  /*MAIN*/
  /*APARTAMENTS*/
  .apartaments__heading {
    font-size: 3rem;
  }
  .apartaments__description {
    font-size: 1.2rem;
  }
  /*APARTAMENTS-DETAILS*/
  .apartaments-details__heading {
    font-size: 3rem;
  }
  /*GALLERY*/
  .gallery__heading {
    font-size: 3rem;
  }
}

/*COLORS*/
/*MIXINS*/
/*COLORS*/
@media (min-width: 576px) {
  /*HEADER*/
  .header__text {
    padding: 0.5em 2em;
  }
  .header__text .company-name {
    font-size: 5rem;
  }
  .header__text .company-name::before {
    content: 'Zator, ul. Sosnowa';
    text-transform: none;
    position: absolute;
    bottom: -25px;
    font-size: 2rem;
    color: #828282;
  }
  .header__text p {
    font-size: 2rem;
  }
  .header__text .header-button {
    font-size: 1.5rem;
  }
  .header__text .header-button:hover::after, .header__text .header-button:focus:after {
    -webkit-transform: scale(1.5, 1.9);
            transform: scale(1.5, 1.9);
  }
  .header__media .header-icon img {
    height: 40px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .header__media .header-icon img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  /*MAIN*/
  /*APARTAMENTS*/
  .apartaments__heading {
    font-size: 4rem;
  }
  .apartaments__description {
    font-size: 1.5rem;
  }
  /*APARTAMENTS-DETAILS*/
  .apartaments-details__heading {
    font-size: 4rem;
  }
  .apartaments-details__box--left i::before {
    font-size: 2.5rem;
  }
  .apartaments-details__box--left i p {
    font-size: 1.2rem;
  }
  /*GALLERY*/
  .gallery__heading {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  /*APARTAMENTS-DETAILS*/
  .apartaments-details__box--left {
    padding: 0 2em;
  }
  .apartaments-details__box--left i {
    padding: 3em 1em;
  }
  .apartaments-details__box--left i::before {
    font-size: 3.5rem;
    padding: 9px;
  }
  .apartaments-details__box--left i p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  /*GALLERY*/
  .gallery__box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    padding-top: 2em;
  }
  .gallery__box--one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .gallery__box--two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .gallery__box--three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .gallery__box--four {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .gallery__box--five {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .gallery__box--six {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (min-width: 992px) {
  /*HEADER*/
  /*NAVIGATION-MOBILE*/
  .nav-mobile {
    display: none;
  }
  /*NAVIGATION-DESKTOP*/
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-desktop__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-desktop__links a {
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .nav-desktop__links a:hover {
    color: #ff4141;
  }
  .header__img {
    background-image: url("../img/header/header_big.jpeg");
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .header__text {
    padding: 0.5em 3em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .header__text .company-name,
  .header__text p {
    margin-top: auto;
  }
  .header__media {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  /*MAIN*/
  /*APARTAMENTS*/
  .apartaments__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .apartaments__box--left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .apartaments__box--right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  /*APARTAMENTS-DETAILS*/
  .apartaments-details {
    background-image: url("../img/apartaments/apartaments_description_big.jpeg");
  }
  .apartaments-details__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }
  .apartaments-details__box--left i {
    padding: 2em 1em;
  }
  .apartaments-details__box--left i::before {
    font-size: 2.5rem;
  }
  .apartaments-details__box--left i p {
    font-size: 1.1rem;
  }
  .apartaments-details__box--right img {
    width: 100%;
    border-radius: 8px;
  }
}

/*COLORS*/
/*MIXINS*/
/*COLORS*/
@media (min-width: 1200px) {
  /*HEADER*/
  .header__text {
    padding: 0.5em 5em;
  }
}
/*# sourceMappingURL=main.css.map */