$headerColorOne: rgb(67, 73, 76);
$accentColor: rgb(255, 65, 65);
$descriptionColor: #828282;
$whiteColor: #fff;
$blackColor: #000;

$light-shadow: rgba(0,0,0,.5);
$dark-shadow: rgba(0,0,0,.7);
$darker-shadow: rgba(0,0,0,.9);
