/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';


/*OTHERS*/
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-padding {
    padding: 4em 2em;
}

.section-heading {
    font-size: 2rem;
}

/*BREAKPOINTS*/
@media(min-width: 375px) {
    .section-heading {
        font-size: 3rem;
    }
}

@media(min-width: 576px) {
    .section-padding {
        padding: 7em 2em;
    }

    .section-heading {
        font-size: 4rem;
    }
}

@media(min-width: 992px) {
    .section-padding {
        padding: 9em 2em;
    }
}