/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

@media(min-width: 576px) {

    /*HEADER*/
    .header {
        &__text {
            padding: 0.5em 2em;

            .company-name {
                font-size: 5rem;
            }

            p {
                font-size: 2rem;
            }

            .header-button {
                font-size: 1.5rem;

                &:hover::after,
                &:focus:after {
                    transform: scale(1.5, 1.9);
                }
            }
        }

        &__media {
            .header-icon {
                img {
                    height: 40px;
                    transition: transform .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    /*MAIN*/
    /*APARTAMENTS*/
    .apartaments {
        &__heading {
            font-size: 4rem;
        }

        &__description {
            font-size: 1.5rem;
        }
    }

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {

        &__heading {
            font-size: 4rem;
        }

        &__box {
            &--left {
                i {
                    &::before {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {
        &__box {
            &--left {
                padding: 0 2em;

                i {
                    padding: 3em 1em;

                    &::before {
                        font-size: 3.5rem;
                        padding: 9px;
                    }

                    p {
                        font-size: 1.5rem;
                        margin-top: 20px;

                    }
                }
            }
        }
    }
}

@media(min-width: 992px) {
    /*HEADER*/

    /*NAVIGATION-MOBILE*/
    .nav-mobile {
        display: none;
    }

    /*NAVIGATION-DESKTOP*/
    .nav-desktop {
        display: flex;

        &__links {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                transition: color .3s;

                &:hover {
                    color: $accentColor;
                }

            }
        }
    }

    .header {
        &__img {
            background-image: url('../img/header/header_big.jpeg');
            grid-column: 2/3;
            grid-row: 1/3;
        }

        &__text {
            padding: 0.5em 3em;
            grid-column: 1/2;
            grid-row: 1/3;

            .company-name,
            p {
                margin-top: auto;
            }
        }

        &__media {
            grid-column: 1/2;
        }
    }

    /*MAIN*/
    /*APARTAMENTS*/
    .apartaments {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;

            &--left {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            &--right {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
    }

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {
        background-image: url('../img/apartaments/apartaments_description_big.jpeg');

        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3em;

            &--left {

                i {
                    padding: 2em 1em;

                    &::before {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.1rem;
                        //margin-left: 8px;
                    }
                }
            }

            &--right {
                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        }
    }
}