/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

@media(min-width: 576px) {

    /*NAVIGATION-MOBILE*/
    .nav-mobile-items {
        a {
            font-size: 2rem;
        }
    }

    /*HEADER*/
    .header {
        &__text {
            padding: 0.5em 2em;

            .company-name,
            .freetime-name {
                font-size: 5rem;
            }

            .company-name {

                &::before {
                    content: 'Zator, ul. Sosnowa';
                    text-transform: none;
                    position: absolute;
                    bottom: -25px;
                    font-size: 2rem;
                    color: $descriptionColor;
                }
            }

            p {
                font-size: 2rem;
            }

            .header-button {
                font-size: 1.5rem;

                &:hover::after,
                &:focus:after {
                    transform: scale(1.5, 1.9);
                }
            }
        }

        &__media {
            .header-icon {
                img {
                    height: 40px;
                    transition: transform .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    /*MAIN*/
    /*APARTAMENTS*/
    .apartaments {

        &__description {
            font-size: 1.5rem;
        }
    }

    /*FREETIME - SUBSITE*/
    .freetime {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 3em;
            padding: 4em 0;

            &--left {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            &--right {
                grid-column: 1/2;
                grid-row: 1/2;

                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        }

        .freetime__box:nth-of-type(odd) {
            .freetime__box--left {
                grid-column: 1/2;
            }

            .freetime__box--right {
                grid-column: 2/3;
            }
        }
    }

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {

        &__box {
            &--left {
                i {
                    &::before {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    /*GALLERY*/
    .gallery {

        &__box {
            padding-top: 7em;
        }
    }

    /*CONTACT*/
    .contact {
        &__box {
            padding: 6em 1em 8em 1em;

            i {
                &::before {
                    font-size: 3.5rem;
                }
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    /*REACH-US*/
    .reach-us {
        &__box {
            &--right {
                .contact-form {
                    .contact-form-top {
                        h3 {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 0.5fr 1fr;

            &--logo {
                grid-column: 1/3;
                grid-row: 1/2;
            }

            &--social {
                //align-items: start;
                grid-column: 1/2;
                grid-row: 2/3;
            }

            &--menu {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                grid-column: 2/3;
                grid-row: 2/3;
                padding: 2em;

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                }
            }

        }
    }
}

@media(min-width: 768px) {

    /*NAVIGATION-MOBILE*/
    .nav-mobile-items {
        a {
            font-size: 2.5rem;
        }
    }

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {
        &__box {
            &--left {
                padding: 0 2em;

                i {
                    padding: 3em 1em;

                    &::before {
                        font-size: 3.5rem;
                        padding: 9px;
                    }

                    p {
                        font-size: 1.5rem;
                        margin-top: 20px;

                    }
                }
            }
        }
    }

    /*FREETIME - SUBSITE*/
    .freetime {
        &__heading {
            font-size: 2rem;
        }

        &__description {
            font-size: 1.4rem;
        }
    }

    /*GALLERY*/
    .gallery {
        &__box {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1em;
            padding-top: 2em;

            &--one {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            &--two {
                grid-column: 2/3;
                grid-row: 1/3;

            }

            &--three {
                grid-column: 3/4;
                grid-row: 1/2;

            }

            &--four {
                grid-column: 1/2;
                grid-row: 2/4;
            }

            &--five {
                grid-column: 3/4;
                grid-row: 2/4;
            }

            &--six {
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
    }

    /*CONTACT*/
    .contact {
        &__box {
            padding: 7em 1em 10em 1em;

            i {
                &::before {
                    font-size: 4.5rem;
                }
            }

            a {
                p {
                    font-size: 1.5rem;
                    padding-top: 20px;
                }
            }
        }
    }

    /*REACH-US*/
    .reach-us {
        &__box {
            grid-template-columns: repeat(2, 1fr);

            &--left {
                grid-column: 1/2;
            }

            &--right {
                grid-column: 2/3;

                .contact-form {
                    height: 100%;

                    .contact-form-textarea {
                        height: 70%;
                    }

                    .submit {
                        right: 20px;
                        bottom: 20px;
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) {
    /*HEADER*/

    /*NAVIGATION-MOBILE*/
    .nav-mobile {
        display: none;
    }

    /*NAVIGATION-DESKTOP*/
    .nav-desktop {
        display: flex;

        &__links {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                transition: color .3s;

                &:hover {
                    color: $accentColor;
                }

            }
        }
    }

    .header {
        &__img {
            background-image: url('../img/header/header_big.jpeg');
            grid-column: 2/3;
            grid-row: 1/3;
        }

        &__img-subsite {
            background-image: url('../img/header/header-subsite_big.jpeg');
        }

        &__text {
            padding: 0.5em 3em;
            grid-column: 1/2;
            grid-row: 1/3;

            .company-name,
            .freetime-name,
            p {
                margin-top: auto;
            }
        }

        &__media {
            grid-column: 1/2;
        }
    }

    /*MAIN*/
    /*APARTAMENTS*/
    .apartaments {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;

            &--left {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            &--right {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
    }

    /*FREETIME - SUBSITE*/
    .freetime {
        &__box {
            gap: 4em;
            padding: 5em 0;
        }

        &__heading {
            font-size: 2.4rem;
        }
    }

    /*APARTAMENTS-DETAILS*/
    .apartaments-details {
        background-image: url('../img/apartaments/apartaments_description_big.jpeg');

        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3em;

            &--left {

                i {
                    padding: 2em 1em;

                    &::before {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.1rem;
                        //margin-left: 8px;
                    }
                }
            }

            &--right {
                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        }
    }

    /*GALLERY*/
    .gallery {
        &__box {
            padding-top: 9em;
        }
    }

    /*CONTACT*/
    .contact {
        background-image: url('../img/contact/contact_big.jpeg');

        &__box {
            padding: 8em 1em 11em 1em;
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 0;

            &--logo {
                align-items: center;
                justify-content: center;
                grid-column: 1/2;
            }

            &--social {
                grid-column: 2/3;
            }

            &--menu {
                grid-column: 3/4;
            }
        }
    }
}