/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

@media(min-width: 375px) {

    /*HEADER*/
    .header {

        &__text {
            @include headerImg('../img/header/home.svg');

            .company-name,
            .freetime-name {
                font-size: 4rem;
            }
        }

        &__subsite {
            @include headerImg('../img/header/thumbs-up.svg');
        }
    }

    /*MAIN*/
    /*APARTAMENTS*/
    .apartaments {

        &__description {
            font-size: 1.2rem;
        }
    }

    /*FREETIME - SUBSITE*/
    .freetime {
        &__description {
            font-size: 1.1rem;
        }

        &__box {
            &--right {
                .text {
                    .description {
                        i {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    /*CONTACT*/
    .contact {
        &__box {
            grid-template-columns: repeat(3, 1fr);
            padding: 5em 1em 6em 1em;

            i {
                &::before {
                    font-size: 2.5rem;
                }
            }
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            &--social {
                i {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}