/*RESET*/
@import './resett';

/*COMPONENTS*/
@import './components';

/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

/*HAMBURGER-ICON*/
@import './hamburger';

/*COMMON CLASSES*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 62.5px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.underline {
    margin: 0 auto;
    width: 60px;
    height: 4px;
    background-color: $accentColor;
}

/*NAVIGATION-MOBILE*/
.nav {
    position: fixed;
    top: 0;
    justify-content: space-between;
    z-index: 11;
    width: 100%;
    transition: background-color .3s;
    //background-color: $darker-shadow;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $whiteColor;
        margin: 1em;
        padding: 0.5em;
        font-size: 1.5rem;
    }
}

.black {
    background-color: $darker-shadow;
}

.nav-mobile {
    display: flex;
    overflow: hidden;
    z-index: 100;
}

.nav-mobile-items {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $whiteColor;
    transform: translateY(-102%);
    transition: transform .3s;
    z-index: 80;

    a {
        color: $blackColor;
    }
}

.active {
    transform: translateY(0);
}

/*NAVIGATION-DESKTOP*/
.nav-desktop {
    display: none;
    padding: 0 10em;
}

/*HEADER*/
.header {
    height: 90vh;
    background-color: $headerColorOne;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    overflow: hidden;

    &__img {
        position: relative;
        background-image: url('../img/header/header_mini.jpeg');
        background-size: cover;
        background-position: center;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    &__shadow {
        @include shadow($light-shadow);
    }

    &__text {
        position: relative;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row: 2/3;
        grid-column: 1/3;
        justify-content: center;
        align-items: center;
        color: $whiteColor;
        padding: 0 1em;

        .company-name {
            position: relative;
            grid-row: 1/2;
            grid-column: 1/3;
            text-transform: uppercase;
            font-size: 3rem;
            color: $accentColor;
            font-weight: 700;
        }

        p {
            grid-row: 2/3;
            grid-column: 1/3;
            font-size: 1.5rem;
            color: $descriptionColor;
            font-style: italic;
        }

        .header-button {
            position: relative;
            grid-column: 1/2;
            text-decoration: none;
            color: $whiteColor;
            font-size: 1.3rem;
            z-index: 1;
            background: transparent;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                background-color: $accentColor;
                height: 1em;
                width: 100px;
                left: -2px;
                top: 50%;
                z-index: -1;
                transition: transform .3s;
                transform-origin: bottom left;
            }

            &:hover::after,
            &:focus:after {
                transform: scale(1.3, 1.9);
            }
        }

    }

    &__media {
        position: absolute;
        bottom: 4px;
        right: 4px;

        .header-icon {
            color: $descriptionColor;
        }
    }
}

/*MAIN*/
/*APARTAMENTS*/
.apartaments {
    background-image: linear-gradient(0deg, $whiteColor, rgba(255, 255, 255, 0.68), $whiteColor), url('../img/apartaments/apartaments_big.jpeg');
    background-size: cover;
    background-position: center;

    &__box {
        display: grid;
        gap: 5em;

        &--right {
            display: flex;
            justify-content: center;

            .apartament-image {
                width: 100%;
                border-radius: 8px;
            }
        }
    }

    &__heading {
        text-transform: uppercase;
        text-align: center;
        padding: 0 0 1em 0;
        font-size: 2rem;
    }
}


/*APARTAMENTS-DETAILS*/
.apartaments-details {
    position: relative;
    background-image: url('../img/apartaments/apartaments_description_small.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;

    &__shadow {
        @include shadow($dark-shadow);
        z-index: -1;
    }

    &__heading {
        padding-top: 1.5em;
        font-size: 2rem;
        color: $whiteColor;
        text-align: center;
        text-transform: uppercase;
    }

    &__box {
        display: grid;
        gap: 3em;

        &--left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: $whiteColor;

            i {
                padding: 2em 0.1em;
                text-align: center;

                &::before {
                    background-color: $accentColor;
                    border-radius: 8px;
                    padding: 5px;
                    font-size: 1.5rem;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    margin-top: 15px;
                }
            }
        }

        &--right {
            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}

/*GALLERY*/
.gallery {
    &__heading {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        padding-top: 4em;

        a {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: transform .3s, filter .8s;

                &:hover {
                    transform: scale(1.03);
                    filter: grayscale(100%);
                }
            }
        }
    }
}


/*CONTACT*/
.contact {
    position: relative;
    background-image: url('../img/contact/contact_mini.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
    color: $whiteColor;

    &__shadow {
        @include shadow($dark-shadow);
        z-index: -1;
    }

    &__heading {
        padding-top: 1.5em;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
    }

    &__box {
        display: grid;
        gap: 2em;
        text-align: center;
        padding: 4em 0;
    }

    i {
        display: inline-block;
        transition: transform .3s;

        &::before {
            cursor: pointer;
            background-color: $accentColor;
            border-radius: 8px;
            padding: 5px;
            font-size: 2rem;
        }

        &:hover {
            transform: scale(1.2);
        }

        &:hover~p {
            transform: translateY(10px);
        }
    }

    a {
        cursor: default;
        text-decoration: none;
        color: $whiteColor;

        p {
            padding-top: 15px;
            transition: transform .3s;
        }
    }
}

/*REACH-US*/
.reach-us {
    background-image: linear-gradient(0deg, $whiteColor, rgba(255, 255, 255, 0.5), $whiteColor), url('../img/contact/contact_bg_small.jpeg');

    &__box {
        display: grid;
        gap: 5em;

        &--left,
        &--right {
            display: flex;
            justify-content: center;
            //max-width: 80%;
        }

        &--left {

            iframe {
                //width: 100%;
                max-width: 80%;
            }
        }

        &--right {
            position: relative;
            max-width: 100%;
            width: 100%;
            min-height: 150px;
            z-index: 0;


            .contact-form {
                font-family: 'Montserrat', sans-serif;
                position: relative;
                text-align: center;
                background-color: $headerColorOne;
                z-index: -2;
                padding: 1em;
                border-radius: 8px;
                height: 100%;
                width: 80%;

                .contact-form-top {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        color: $whiteColor;
                        margin-bottom: 0.5em;
                        font-size: 1.5rem;
                    }

                    input {
                        font-family: 'Montserrat', sans-serif;
                        padding: 8px;
                        margin: 4px 0;
                        border-radius: 8px;
                        border: none;
                    }
                }

                .contact-form-textarea {
                    font-family: 'Montserrat', sans-serif;
                    min-height: 150px;
                    resize: none;
                    height: 50%;
                    width: 100%;
                    padding: 8px;
                    margin: 4px 0;
                    border-radius: 8px;
                    border: none;
                }

                .submit {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    display: inline-block;
                    border: none;
                    margin: 8px;
                    background: transparent;
                    color: $whiteColor;
                    z-index: 2;
                    cursor: pointer;


                    &::after {
                        content: '';
                        position: absolute;
                        background-color: $accentColor;
                        height: 1em;
                        width: 30px;
                        left: -2px;
                        top: 50%;
                        z-index: -1;
                        transition: transform .3s;
                        transform-origin: bottom left;
                    }

                    &:hover::after,
                    &:focus:after {
                        transform: scale(1.3, 2);
                    }

                }
            }
        }
    }
}

/*FOOTER*/
.footer {
    background-color: $darker-shadow;
    color: $whiteColor;

    &__box {
        display: flex;
        flex-direction: column;

        a {
            color: $whiteColor;
            text-transform: uppercase;
        }

        &--logo,
        &--social {
            padding: 2em;
        }

        &--logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--social {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                margin: 1em;
            }

            p {
                display: inline;
                font-size: 1rem;
                margin-left: 1em;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }

            i {
                font-size: 2rem;
            }
        }

        &--menu {
            display: none;
        }
    }

    &__bottom-text {
        background-color: $darker-shadow;
        color: $descriptionColor;
        padding: 1.5em;
        text-align: center;
    }
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';